
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        object-fit: contain;
    }
    
    html, body {
        height: 100%;

    }

    body {
background-image: url("https://i.pinimg.com/originals/9c/63/59/9c63591c3533a1954fc02d0296676757.jpg");
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
background-color: black;
    }

    #contain {
        min-height: 100%;
    }
    
    #main {
        overflow: auto;
    padding-bottom: 100px;
    }

    #footer {
        position: relative;
        height: 100px;
        margin-top: -100px;
        clear: both;
    }

    footer{
        text-align: center;
    }

    footer p{
        color: whitesmoke;
        padding-top: 40px;
    }

    h1 {
        color: whitesmoke;
    }
    
    
    .row {
        margin-bottom: 20px;
    }
    
    [class*="col-"] {
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: mediumslateblue;
        border: 1px solid rgb(176, 185, 192);
    }
    
    h3 {
        text-align: center;
        color: turquoise;
        padding-bottom: 20px;
    }
    
    .me {
        display: block;
        margin: 10px auto;
        max-width: 600px;
    }
    
    
    .btn {
        margin-top: 30px;
    }
    
    .form-group{
        margin-right: 100px ;
        margin-left: 100px;
    }
    
    .btn-linkedin {
        background: #0E76A8;
        border-radius: 0;
        color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #084461;
    }
    
    .btn-linkedin:link, .btn-linkedin:visited {
        color: #fff;
    }
    
    .btn-linkedin:active, .btn-linkedin:hover {
        background: #084461;
        color: #fff;
    }
    
    .btn-git {
        background: #444444;
        border-radius: 0;
        color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #444444;
        /* margin-left: 20px;
        margin-bottom: 5px; */
    }
    
    .btn-git:link, .btn-git:visited {
        color: #fff;
    }
    
    .btn-git:active, .btn-git:hover {
        background: #0a0a0a;
        color: #fff;
    }
    
    .work{
        margin-top: 50px;
        margin-left: 70px;
        margin-bottom: 50px;
        background-color: lightblue;
    }

    #portPic {
        background:rgb(242,78,97,0.8);
        text-align: center;
        border-radius: 5px;
    }

    .card-title{
        color: white;
        margin-top: 20px;
    }
    
    .divided {
        display: flex;
        align-items: center;
    }
      
    .divider {
        flex-grow: 1;
        border-bottom: 3px solid orange;
        margin: 5px
        }

@media only screen and (max-width: 600px) {
    .work {
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 20px;
        margin-bottom: 50px;
            }
            body {
                background-image: url("https://i.pinimg.com/originals/9c/63/59/9c63591c3533a1954fc02d0296676757.jpg");
                background-size: cover;
                background-position: center; 
                background-repeat: repeat;
                background-color: black;
                    }
        }


@media only screen and (max-width: 768px) {
        class*="col-"] {
        width: 100%;
            }
        }